#hero {
	background:#333333;
	color:#fafafa;
	display:block;
	cursor:default;
	padding-top:66px;
	padding-bottom:0px;
	background: #2980b9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top left, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top left, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#hero h1 {
	font-size:50px;
	margin-bottom:16px;
}

#hero h2 {
	margin-bottom:0;
}

#hero p {
	margin:50px 0;
}

#hero .illustration {
	background-image:url(/images/icons-512.png);
	background-size:contain;
	height:412px;
	width:100%;
	background-repeat:no-repeat;
	background-position:top center;
	position:relative;
	bottom:30px;
}

#hero button {
	margin-right:32px;
}